@import "./variables";
@import "./mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $mainTextColor;
  background-color: $mainBgColor;
}

svg {
  vertical-align: middle;
  fill: currentColor;
}

p {
  margin-top: 0;
  margin-bottom: 0;

  & + & {
    margin-top: getRem(20);
  }
}

.text-center {
  text-align: center;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
